* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial;
}

h1 {
  padding: 2rem 0;
}

h2 {
  font-size: 1rem;
}

h3 {
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  margin: 2rem 2rem;
  padding: 1rem;
  border: 1px solid black;
  cursor: pointer;
}

ul li:hover,
ul li:hover {
  color: green;
  border: 1px solid green;
}

i {
  pointer-events: none;
}

p {
  margin-top: 2rem;
}

.scores {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.you,
.playerChoice {
  color: green;
}

.computer,
.computerChoice {
  color: red;
}

.tie {
  font-weight: bold;
  color: blue;
  border: 1px dashed blue;
  padding: 0.5rem 1rem;
  display: none;
}
